<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>14649095-0904-4DD5-8623-ACB3DD8762B0</string>
	<key>title</key>
	<string>数据分析</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
